---
# Data for this page is found in _data/status.yml
title: Status
layout: page
---

<style>
            .status-icon {
                font-weight: 400;
                float: left;
            }
</style>

            <p>Last updated: {{ site.time }}</p>
            <p>
                <table class="table">
                    <thead>
                        <tr><th><p>Zone</p></th><th><p>Status</p></th></tr>
                    </thead>
                    {% if site.data.status.zones.size > 0 %}
                    <tbody>
                        {% for zone in site.data.status.zones %}
                        {% assign status_lc = zone.status | lc %}
                        <tr>
                            <td>{{ zone.name }}</td>
                            <td>
                                {% if status_lc == 'success' %}
                                <span class="d-icon d-check" style="color:#0c0"></span>
                                {% else %}
                                <span class="d-icon d-warning" style="color:#f90"></span>
                                {% endif %}
                                {{ zone.message }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    {% endif %}
                </table>
            </p>

            <h3>Messages</h3>
            <div style="overflow: auto">
            {% if site.data.status.messages[0] %}
            {% assign datelimit = 'now' | date: '%s' | minus:604800000 %}
            {% assign sorted_messages = site.data.status.messages | sort: 'date' | reverse %}
            <table class="table">
            {% for message in sorted_messages %}
                {% assign epoch = message.date | date: '%s' | ceil %}
                {% if epoch >= datelimit %}
                <tr>
                    <td style="white-space: nowrap; width: 100px">{{ message.date }}</td>
                    <td>
                    {% if message.status == 'success' %}
                    <span class="d-icon d-check" style="color:#0c0"></span>
                    {% else %}
                    <span class="d-icon d-warning" style="color:#f90"></span>
                    {% endif %}
                    </td>
                    <td>
                    {{ message.message }}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            </table>
            {% else %}
            <p>
                No updates.
            </p>
            {% endif %}
            </div>
