<!-- Cover -->
<div class="container-full is-marginless">
    <div class="container">
        <div class="row section-cover">
            <div class="xs-col-1-1 sm-col-1-1 md-col-7-12 lg-col-7-12 xl-col-7-12 flex-column align-self-center">
                <h1 class="is-brand-400">The easiest, safest and most cost effective way to run your Vespa applications.</h1>
                <div class="is-grey-800 paragraph p-t-15">Whether you just need to quickly deploy some experiments, or run an
                    always available world-wide production system handling thousand of requests per second,
                    the Vespa Cloud will fit your needs.</div>
            </div>
            <div class="col xs-hide sm-hide pagination-centered align-self-center">
                <img src="assets/vespa-logo-light.png" width="500" height="167"/>
            </div>
        </div>
    </div>

    <div class="row p-b-40 m-l-70 section-trial">
        <div class="col-off-1-12 col-2-12 align-self-center">
            <a class="button is-solid is-large" href="en/getting-started">Start your free trial</a>
        </div>
    </div>
</div>
