<!-- # Copyright Verizon Media. All rights reserved. -->

<div class="col-sm-12 col-md-12 footer">
    <div class="row">
        <div class="col-md-12 footer-border" >
            <div class="row">
                <div class="col-md-2">
                    <ul class="nav footer-text">
                        <li>RESOURCES</li>
                        <li><a href="https://docs.vespa.ai/documentation/getting-started.html">Getting Started</a></li>
                        <li><a href="https://docs.vespa.ai">Documentation</a></li>
                        <li><a href="https://github.com/vespa-engine/vespa">Open source</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="nav footer-text">
                        <li>CONTACT</li>
                        <li><a href="support">Support</a></li>
                        <li><a href="https://twitter.com/vespaengine">Twitter</a></li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <ul class="nav footer-text text-right">
                        <li>
                            <p>Copyright Verizon Media. All rights reserved.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
