<!-- # Copyright 2019 Oath Inc. All rights reserved. -->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 footer">
    <div class="row">
        <div class="col-md-12 footer-border">
            <div class="row">
                <div class="col-md-2">
                    <ul class="nav footer-text">
                        <li>RESOURCES</li>
                        <li><a href="http://docs.vespa.ai/documentation/vespa-quick-start.html">Getting Started</a></li>
                        <li><a href="http://docs.vespa.ai">Documentation</a></li>
                        <li><a href="https://github.com/vespa-engine/vespa">Open source</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <ul class="nav footer-text">
                        <li>CONTACT</li>
                        <li><a href="mailto:support@vespa.ai">Support</a></li>
                        <li><a href="http://stackoverflow.com/questions/tagged/vespa">Stack Overflow</a></li>
                        <li><a href="https://gitter.im/vespa-engine/Lobby">Gitter</a></li>
                        <li><a href="https://twitter.com/vespaengine">Twitter</a></li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <ul class="nav footer-text text-right">
                        <li>
                            <p>Copyright 2019 Oath Inc. All rights reserved.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
