<!-- Copyright Verizon Media. All rights reserved. -->
{% assign modalid = "now" | date: "%N" %}
<a href="#open-modal-{{modalid}}" data-proofer-ignore><img src="{{include.image}}" /></a>
<div id="open-modal-{{modalid}}" class="modal">
    <div class="modal-container">
        <a href="#close-{{modalid}}" class="close" data-proofer-ignore><i class="d-icon d-close"></i></a>
        <div class="modal-content">
            <img src="{{include.image}}" class="modal-image" />
        </div>
    </div>
</div>
<script>
    window.addEventListener('keydown', function (event) {
        if (event.key == 'Escape') {
            window.location.hash = "#close-{{modalid}}";
        }
    })
</script>
