<!-- Copyright Verizon Media. All rights reserved. -->

<div class="col-sm-3 col-md-2 sidebar">
	{% if site.data.sidebar.docs[0] %}
		{% for item in site.data.sidebar.docs %}
			<ul class="nav nav-sidebar">
				<li >{{ item.title }}</li>
				{% if item.documents[0] %}
					{% for entry in item.documents %}
							<li ><a href="{{ entry.url }}">{{ entry.page }}</a></li>
						{% if entry.subdocuments[0] %}
							<div class="subdocuments collapseable">
								<ul class="nav nav-sidebar">
									{% for subentry in entry.subdocuments %}
											<li><a href="{{ subentry.url }}">{{ subentry.page }}</a></li>
									{% endfor %}
								</ul>
							</div>
						{% endif %}
					{% endfor %}
				{% endif %}
			</ul>
		{% endfor %}
	{% endif %}
</div>
